# Server Configuration
PORT=8080
NODE_ENV=development

# Database Configuration
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=whatsapp
DB_USER=root
DB_PASSWORD=YYLhn8977
DB_SYNC='true'
# Redis Configuration
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=password8977

# Storage Configuration
STORAGE_PATH=./storage/sessions
NATS_URL="nats://localhost:4222"